{% extends 'base.html' %}
{% block body %}
{% load crispy_forms_tags %}
<div class="row mb-3">
<!-- load sidebar here -->
{% include 'dashboard/sidebar.html' %}
<!-- Right content -->
    <div class="col-md-9">
        <h3 class="text-center">Edit Blog Post</h3>
        <form action="{% url 'edit_posts' post.id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form | crispy }}
            <div class="text-center">
                <button type="submit" class="btn btn-warning">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}